target
Cargo.lock
.DS_Store
*secret*
.vscode
.idea
*.db
*.db*
dump.rdb
somes-api/assets
node_modules
/build
/.svelte-kit
/package
.env
# .env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*/data.ms/
