@import 'tailwindcss';
@import './index.css';
@plugin "tailwindcss-animate";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--theme-font-family-base: system-ui;
	--theme-font-family-heading: system-ui;
	--theme-font-color-base: 0 0 0;
	--theme-font-color-dark: 255 255 255;
	--theme-rounded-base: 9999px;
	--theme-rounded-container: 8px;
	--theme-border-base: 1px;

	--on-primary: rgb(0 0 0);
	--on-secondary: rgb(0 0 0);
	--on-tertiary: rgb(0 0 0);
	--on-success: rgb(0 0 0);
	--on-warning: rgb(0 0 0);
	--on-error: rgb(255 255 255);
	--on-surface: rgb(255 255 255);

	--color-primary-50: rgb(232 236 241);
	--color-primary-100: rgb(225 230 236);
	--color-primary-200: rgb(217 224 232);
	--color-primary-300: rgb(195 205 217);
	--color-primary-400: rgb(149 167 189);
	--color-primary-500: rgb(104 129 161);
	--color-primary-600: rgb(94 116 145);
	--color-primary-700: rgb(78 97 121);
	--color-primary-800: rgb(62 77 97);
	--color-primary-900: rgb(51 63 79);

	--color-secondary-50: rgb(249 236 233);
	--color-secondary-100: rgb(247 230 226);
	--color-secondary-200: rgb(245 223 219);
	--color-secondary-300: rgb(239 204 197);
	--color-secondary-400: rgb(228 166 154);
	--color-secondary-500: rgb(216 128 111);
	--color-secondary-600: rgb(194 115 100);
	--color-secondary-700: rgb(162 96 83);
	--color-secondary-800: rgb(130 77 67);
	--color-secondary-900: rgb(106 63 54);

	--color-tertiary-50: rgb(254 250 247);
	--color-tertiary-100: rgb(254 249 244);
	--color-tertiary-200: rgb(253 247 242);
	--color-tertiary-300: rgb(252 242 234);
	--color-tertiary-400: rgb(250 233 218);
	--color-tertiary-500: rgb(248 223 202);
	--color-tertiary-600: rgb(223 201 182);
	--color-tertiary-700: rgb(186 167 152);
	--color-tertiary-800: rgb(149 134 121);
	--color-tertiary-900: rgb(122 109 99);

	--color-success-50: rgb(237 247 220);
	--color-success-100: rgb(230 245 208);
	--color-success-200: rgb(224 242 197);
	--color-success-300: rgb(206 235 162);
	--color-success-400: rgb(169 219 92);
	--color-success-500: rgb(132 204 22);
	--color-success-600: rgb(119 184 20);
	--color-success-700: rgb(99 153 17);
	--color-success-800: rgb(79 122 13);
	--color-success-900: rgb(65 100 11);

	--color-warning-50: rgb(252 244 218);
	--color-warning-100: rgb(251 240 206);
	--color-warning-200: rgb(250 236 193);
	--color-warning-300: rgb(247 225 156);
	--color-warning-400: rgb(240 202 82);
	--color-warning-500: rgb(234 179 8);
	--color-warning-600: rgb(211 161 7);
	--color-warning-700: rgb(176 134 6);
	--color-warning-800: rgb(140 107 5);
	--color-warning-900: rgb(115 88 4);

	--color-error-50: rgb(249 221 234);
	--color-error-100: rgb(246 209 228);
	--color-error-200: rgb(244 198 221);
	--color-error-300: rgb(238 163 200);
	--color-error-400: rgb(225 94 159);
	--color-error-500: rgb(212 25 118);
	--color-error-600: rgb(191 23 106);
	--color-error-700: rgb(159 19 89);
	--color-error-800: rgb(127 15 71);
	--color-error-900: rgb(104 12 58);

	--color-surface-50: rgb(222 223 226);
	--color-surface-100: rgb(211 212 216);
	--color-surface-200: rgb(200 201 207);
	--color-surface-300: rgb(167 169 178);
	--color-surface-400: rgb(102 105 120);
	--color-surface-500: rgb(36 40 62);
	--color-surface-600: rgb(32 36 56);
	--color-surface-700: rgb(27 30 47);
	--color-surface-800: rgb(22 24 37);
	--color-surface-900: rgb(18 20 30);

	--spacing: 0.25rem;
	--text-scaling: 1;

	--base-font-color: rgb(var(--theme-font-color-base));
	--base-font-color-dark: rgb(var(--theme-font-color-dark));
	--base-font-family: var(--theme-font-family-base);
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: inherit;
	--base-font-style: inherit;
	--base-letter-spacing: inherit;

	--heading-font-color: rgb(var(--theme-font-color-base));
	--heading-font-color-dark: rgb(var(--theme-font-color-dark));
	--heading-font-family: var(--theme-font-family-heading);
	--heading-font-weight: inherit;
	--heading-font-style: inherit;
	--heading-letter-spacing: inherit;

	--anchor-font-color: rgb(var(--theme-font-color-base));
	--anchor-font-color-dark: rgb(var(--theme-font-color-dark));
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: inherit;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: inherit;
	--anchor-text-decoration-focus: inherit;

	--radius-base: var(--theme-rounded-base);
	--radius-container: var(--theme-rounded-container);
	--default-border-width: var(--theme-border-base);
	--default-divide-width: 1px;
	--default-ring-width: 1px;

	--animate-progress-indeterminate: anim-progress-indeterminate 2s linear infinite;
	--animate-ring-indeterminate: anim-ring-indeterminate 2s linear infinite;
}

dialog {
	background-color: transparent;
}

@layer base {
	input[type='search']::-webkit-search-cancel-button {
		display: none;
	}
}

body ::selection {
	/* background: rgb(var(--color-secondary-300)); */
	background: rgb(239 204 197);
	color: #000;
}

/* Disable Blue Flash on IOS */
* {
  -webkit-tap-highlight-color: transparent;
}